.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;

  min-height: 100vh;
  position: relative;

  > div {
    flex: 0 0 50%;
  }
}

.main {
  display: flex;
  margin: 0 auto;
}
