// Theme colors
// Global colors
$rich-black: #161925;
$prussian-blue: #23395B;
$queen-blue: #406e8e;
$cadet-grey: #8ea8c3;
$light-cyan: #cbf7ed;
$white-background: #fff;
$grey-background: #f3f2ef;
