@use "../../styles/colors";
@import "../media-queries.scss";

.wrapper {
  display: flex;
  padding: 30px 10px;
  background-color: colors.$white-background;
  border-radius: 10px;
  box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
  transition: box-shadow 0.3s ease-in-out;

  > div {
    flex: 0 0 50%;
  }

  &:hover {
    box-shadow: 0 20px 25px -5px rgb(0 0 0 / 0.1), 0 8px 10px -6px rgb(0 0 0 / 0.1);
  }

  @include for-phone-only {
    display: block;
  }
}

.imageWrapper {
  padding: 0 20px;
}

.contentWrapper {
  padding: 0 20px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.externalLinks {
  a {
    text-decoration: none;
    color: white;
    margin: 0 5px;
    font-size: 2rem;
  }

  svg {
    color: colors.$prussian-blue;
  }
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;

  @include for-phone-only {
    display: block;
  }
}

.technologies {
  color: colors.$queen-blue;
}
